body{
background: radial-gradient(circle at center, #a8ef81 0%, #dbeafe 40%, #1e293b 100%);
color: black;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.nav{
  display: flex;
  justify-content: space-around;
  flex: 1;
  gap: 30px;
  padding-bottom: 100px;
 
  
}

.nav a {
 
 text-decoration: none;
  font-size: 16px;
  font-size: 30px;
  padding-left: 10px;
}

.nav a:hover {
  color: rgb(100, 7, 222);
}