body {
  background: radial-gradient(circle at center, #a8ef81 0%, #dbeafe 40%, #1e293b 100%);
  color: black;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex: 1;
  gap: 30px;
  padding-bottom: 100px;
 
}

.nav a {
  text-decoration: none;
  font-size: 30px;
  padding-left: 10px;
  padding-bottom: 2px;
}

.nav a:hover {
  color: rgb(100, 7, 222);
}

.section1 {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px;

}

.section1 h3 {
  font-size: 32px;
  line-height: 1.4;
  max-width: 60ch;
  margin: 0;
  white-space: normal;
}

.Main_img {
  width: 300px;
  height: 350px;
  border-radius: 90%;
  object-fit: cover;
  flex-shrink: 0;
}
.main-links img{
  width: 2px;
  height: 70px;
  margin: 20px 20px 20px 20px;
  border-radius: 50%;
  object-fit: cover;
}
 .about-section {
  height: 100vh;
 background: linear-gradient(to right, #434343, #000000);
  color: aliceblue;
}

.main-about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.main-about img{
   width: 300px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  margin: 10px 10px;
}

.main-about h3 {
  max-width: 600px;
  line-height: 1.6;
}

#About {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
span{
  color: rgb(211, 185, 245);
  font-size: 32px;
  padding: 2px 2px;
  margin: 500px 2px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #ff6b6b,
    #feca57,
    #48dbfb,
    #1dd1a1,
    #ff6b6b
  );

  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 4s linear infinite;

}
@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}
.project-section {
  height: 100vh;
  background: linear-gradient(to right, #434343, #ee7f7f);
  color: aliceblue;
  padding: 20px;
}
h1{
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}