body {
  background: radial-gradient(circle at center, #a8ef81 0%, #dbeafe 40%, #1e293b 100%);
  color: black;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex: 1;
  gap: 30px;
  padding-bottom: 100px;
 
}

.nav a {
  text-decoration: none;
  font-size: 30px;
  padding-left: 10px;
  padding-bottom: 2px;
}

.nav a:hover {
  color: rgb(100, 7, 222);
}

.section1 {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px;
}

.section1 h3 {
  font-size: 32px;
  line-height: 1.4;
  max-width: 60ch;
  margin: 0;
  white-space: normal;
}

.Main_img {
  width: 300px;
  height: 350px;
  border-radius: 90%;
  object-fit: cover;
  flex-shrink: 0;
}
.main-links img{
  width: 2px;
  height: 70px;
  margin: 20px 20px 20px 20px;
  border-radius: 50%;
  object-fit: cover;
}